---
layout: default
---

<h1>Planets of the universe</h1>

<p>A planet is an astronomical object orbiting a star or stellar remnant that is massive enough to be rounded by its own gravity, is not massive enough to cause thermonuclear fusion, and has cleared its neighbouring region of planetesimals.</p>

<h2>Types of planets</h2>
<ol>
	{% for planet in site.data.planet-types  %}
	<li>
		<a href="">{{planet.title}}</a>
		{{planet.content | markdownify}}
	</li>
	{% endfor %}
</ol>

<h2>Recently Discovered Planets</h2>

<ul>
  {% for news in site.categories.recently-discovered limit:2%}
    <li>
      <a href="{{site.baseurl}}{{news.url}}">{{news.title}}</a>
      <p>{{news.meta}}</p>
    </li>
  {% endfor %}
</ul>

<h2>Planetary News</h2>

<hr>

<ul>
	{% for news in site.categories.news limit:2 %}
		<li>
			<a href="{{site.baseurl}}{{news.url}}">{{news.title}}</a>
			<p>{{news.meta}}</p>
		</li>
	{% endfor %}
</ul>
